@import "tailwindcss";

@theme {
  --font-sans: "Geist", system-ui, sans-serif;

  --color-background: #fffcf4;
  --color-foreground: #54331f;
  --color-muted: #b2917c;
  --color-border: #602d0d;
  --color-card: #18181b;
  --color-accent: #f04434;
  --color-accent-hover: #f57a6f;
}

@layer base {
  html {
    font-family: var(--font-sans);
    background-color: var(--color-background);
    color: var(--color-foreground);
  }

  body {
    margin: 0;
    min-height: 100vh;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  /* Override Better Auth skeleton colors */
  [data-slot="skeleton"],
  .animate-pulse {
    background-color: var(--color-border) !important;
  }
}
